---
import Layout from "@layouts/Layout.astro";
import Will from "@images/willbell.jpg";
import Spencer from "@images/spencerk.jpg";
import { Picture } from "@astrojs/image/components";
import Technologies from "@components/Technologies.astro";
import tech from "@content/tech.json";
import SocialLink from "@components/SocialLink.astro";

const metadata = {
  title: "Index - Spencer Kline",
  description: "This is my index",
};

const contact = [
  {
    url: "mailto:spencerk98@gmail.com",
    icon: "dashicons:email",
    name: "Email",
  }
]

const socials = [
  {
    url: "https://github.com/kline7",
    icon: "mdi:github",
    name: "GitHub",
  }
  {
    icon: "carbon:logo-keybase",
    name: "grubbby",
  }
];
---

<Layout>
  <section
    class="pb-10 sm:flex sm:items-center sm:justify-between sm:flex-row-reverse"
  >
    <Picture
      src={Spencer}
      class="rounded-full overflow-hidden inline-flex sm:m-8"
      alt="Spencer Kline smiling"
      aspectRatio="1:1"
      widths={[320]}
      loading="eager"
      sizes="160px"
      width={160}
      height={160}
    />
    <header class="mt-8 max-w-lg sm:my-0">
      <h1 class="mb-4 text-3xl sm:text-4xl font-semibold tracking-tight">
        Will Bell
      </h1>
      <p class="max-w-10 text-zinc-300 sm:max-w-sm md:max-w-xl">
        Welcome to my webpage/blog! I appreciate you stopping by, check out
        my projects and message my email for a quick response!
      </p>
      {
        contact && (
          <ul class="mt-8 flex flex-wrap">
            {contact.map((contact) => (
              <li>
                <SocialLink
                  name={contact.name}
                  icon={contact.icon}
                  url={contact.url}
                />
              </li>
            ))}
          </ul>
        )
      }
    </header>
  </section>

  <section
    class="pb-10 sm:flex sm:items-center sm:justify-between sm:flex-row-reverse"
  >
    <p class="max-w-10 text-zinc-300">
      I'm Spencer Kline, a Software Engineer with a passion for building robust solutions and driving impactful results,
      Armed with a Bachelor's degree in Computer Science and obtaining Master's degree in Cybersecurity Management, I've honed my skills through
      exciting ventures. 
    </p>
  </section>
  <section class="py-10 md:py-14 text-zinc-300">
    {
      socials && (
        <ul class="mt-8 flex flex-wrap">
          {socials.map((socials) => (
            <li>
              <SocialLink
                name={socials.name}
                icon={socials.icon}
                url={socials.url}
              />
            </li>
          ))}
        </ul>
      )
    }
  </section>
</Layout>
